{% extends 'usuarios/base.html' %}

{% block content %}

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in pagination.object_list %}
            <tr>
                <td>{{ user.nombre_usuario }}</td>
                <td>{% if user.facebook %}X{% endif %}</td>
                <td>{% if user.twitter %}X{% endif %}</td>
                <td>
                    <a href="/users/admin/eliminar_usuario/{{ user.id }}/">{% if user.activo %}desactivar{% else %}activar{% endif %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pager">
        {% if pagination.has_prev %}<li><a href="/users/admin/listar_estacionamientos/{{ pagination.prev_page }}/">Anterior</a></li>{% endif %}
        {% if pagintion.has_next %}<li><a href="/users/admin/listar_estacionamientos/{{ pagination.next_page }}/">Próxima</a></li>{% endif %}
    </ul>
{% endblock %}