{% extends 'base_admin.html' %}

{% block content %}

<form action="{{ action }}" method="post">
    <fieldset>
        <legend>Crear Estacionamiento</legend>
        {% csrf_token %}
        <div class="control-group{% if errors.username %} error{% endif %}" id="control_{{ form.username.name }}">
            <label class="control-label" for="{{ form.username.name }}">{{ form.username.label }}</label>
            <div class="controls">
                {{ form.username }}
                {% if errors.username %}<span class="help-inline">{{ errors.username.as_text }}</span>{% endif %}
            </div>
        </div>
        <div class="control-group{% if errors.email %} error{% endif %}" id="control_{{ form.email.name }}">
            <label class="control-label" for="{{ form.email.name }}">{{ form.email.label }}</label>
            <div class="controls">
                {{ form.email }}
                {% if errors.email %}<span class="help-inline">{{ errors.email.as_text }}</span>{% endif %}
            </div>
        </div>
        <div class="control-group{% if errors.nombre %} error{% endif %}" id="control_{{ form.nombre.name }}">
            <label class="control-label" for="{{ form.nombre.name }}">{{ form.nombre.label }}</label>
            <div class="controls">
                {{ form.nombre }}
                {% if errors.nombre %}<span class="help-inline">{{ errors.nombre.as_text }}</span>{% endif %}
            </div>
        </div>
        <div class="control-group{% if errors.description %} error{% endif %}" id="control_{{ form.description.name }}">
            <label class="control-label" for="{{ form.description.name }}">{{ form.description.label }}</label>
            <div class="controls">
                {{ form.description }}
                {% if errors.description %}<span class="help-inline">{{ errors.description.as_text }}</span>{% endif %}
            </div>
        </div>
        <div class="control-group{% if errors.latitude %} error{% endif %}" id="control_{{ form.latitude.name }}">
            <label class="control-label" for="{{ form.latitude.name }}">{{ form.latitude.label }}</label>
            <div class="controls">
                {{ form.latitude }}
                {% if errors.latitude %}<span class="help-inline">{{ errors.latitude.as_text }}</span>{% endif %}
            </div>
        </div>
        <div class="control-group{% if errors.longitude %} error{% endif %}" id="control_{{ form.longitude.name }}">
            <label class="control-label" for="{{ form.longitude.name }}">{{ form.longitude.label }}</label>
            <div class="controls">
                {{ form.longitude }}
                {% if errors.longitude %}<span class="help-inline">{{ errors.longitude.as_text }}</span>{% endif %}
            </div>
        </div>
        {{ form.parking }}
        <button type="submit" class="btn">Enviar</button>
    </fieldset>
</form>

{% endblock %}